# Чтение данных

In [1]:
import pandas as pd

dataset = pd.read_csv('../data/dataset.tsv', '\t', keep_default_na=False)
dataset.describe()

,INPUT:diff1,INPUT:diff2,INPUT:query1,INPUT:query2,OUTPUT:result,CONFIDENCE:result
count,7845,7845,7845,7845,7845,7845
unique,4149,2853,7844,7730,2,2048
top,mersedes,kia,абхазия новый афон,авто,no,99.99%
freq,68,108,2,4,4000,911

# Обучение модели / моделей

# Валидация

# Применяем на отложенной выборке

In [2]:
holdout = pd.read_csv('../data/holdout.tsv', '\t', keep_default_na=False)
# тут нужно применить свою модель
holdout['OUTPUT:result'] = 'yes'
holdout['OUTPUT:score'] = 0.5

holdout.to_csv('../data/sample_submission.tsv', '\t', index=False)